<section class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="content">
                    <img src="../../assets/img/logof.png" class="img-fluid" alt="">
                <div class="address">
                     Street Address 445 mount<br> Eden Mount ,qwery<br>qwerty...
                </div>
                <div class="social-icons">
                    <div class="head">Follow Us</div>
                    <ul>
                        <li>
                            <i class="fa fa-star"></i>
                        </li>
                        <li>
                            <i class="fa fa-star"></i>
                        </li>
                    </ul>
                </div>
            </div>
         </div>
         <div class="col-lg-3 col-4 col-sm-4">
            <div class="links">
                <div class="head">
                    <h3>Company</h3>
                    <ul>
                        <li> Profile</li>
                        <li>About US</li>
                        <li>About US</li>
                        <li>About US</li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-4 col-sm-4">
            <div class="links">
                <div class="head">
                    <h3>Company</h3>
                    <ul>
                        <li> Profile</li>
                        <li>About US</li>
                        <li>About US</li>
                        <li>About US</li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-4 col-sm-4">
            <div class="links">
                <div class="head">
                    <h3>Company</h3>
                    <ul>
                        <li> Profile</li>
                        <li>About US</li>
                        <li>About US</li>
                        <li>About US</li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="copyright bg-dark">
        <div class="items">
            <ul>
                <li> Status </li>
                <li> Contact us </li>
            </ul>
        </div>
        <div class="rights">
            <p>Copy Right @ 2021</p>
        </div>
    </div>
</section>