<section class="cart">
    <div class="container-fluid">
        <div class="row">
            <div class="head">
                <h2> <i class="fa fa-store"></i> 
                    <span class="tag">You are Shopping from:</span> <span class="location">Lullu Hypermarket</span>
                    <span class="change">CHANGE</span>
                </h2>
            </div>
        </div>

        
<div class="container">
    <div class="hs__wrapper">
         <div class="d-flex">
            <div class="hs__arrows bg-dark"><a class="arrow disabled arrow-prev"></a> </div>
            <ul class="hs">
                
                <li class="hs__item"> 
                <div class="hs__item__image__wrapper">
                    <img class="hs__item__image" src="../../assets/img/img1.jpg" alt=""/>
                </div>
                <div class="btn btn-md btn-danger mt-3">ADD</div>
                </li>
               
                <li class="hs__item"> 
                    <div class="hs__item__image__wrapper">
                        <img class="hs__item__image" src="../../assets/img/img1.jpg" alt=""/>
                    </div>
                    <div class="btn btn-md btn-danger mt-3">ADD</div>
                    </li>
                    <li class="hs__item"> 
                        <div class="hs__item__image__wrapper">
                            <img class="hs__item__image" src="../../assets/img/img1.jpg" alt=""/>
                        </div>
                        <div class="btn btn-md btn-danger mt-3">ADD</div>
                        </li>
                        <li class="hs__item"> 
                            <div class="hs__item__image__wrapper">
                                <img class="hs__item__image" src="../../assets/img/img1.jpg" alt=""/>
                            </div>
                            <div class="btn btn-md btn-danger mt-3">ADD</div>
                            </li>
                            <li class="hs__item"> 
                                <div class="hs__item__image__wrapper">
                                    <img class="hs__item__image" src="../../assets/img/img1.jpg" alt=""/>
                                </div>
                                <div class="btn btn-md btn-danger mt-3">ADD</div>
                                </li>
                                <li class="hs__item"> 
                                    <div class="hs__item__image__wrapper">
                                        <img class="hs__item__image" src="../../assets/img/img1.jpg" alt=""/>
                                    </div>
                                    <div class="btn btn-md btn-danger mt-3">ADD</div>
                                    </li>
                                    <li class="hs__item"> 
                                        <div class="hs__item__image__wrapper">
                                            <img class="hs__item__image" src="../../assets/img/img1.jpg" alt=""/>
                                        </div>
                                        <div class="btn btn-md btn-danger mt-3">ADD</div>
                                        </li>
                                        <li class="hs__item"> 
                                            <div class="hs__item__image__wrapper">
                                                <img class="hs__item__image" src="../../assets/img/img1.jpg" alt=""/>
                                            </div>
                                            <div class="btn btn-md btn-danger mt-3">ADD</div>
                                            </li>
                                            <li class="hs__item"> 
                                                <div class="hs__item__image__wrapper">
                                                    <img class="hs__item__image" src="../../assets/img/img1.jpg" alt=""/>
                                                </div>
                                                <div class="btn btn-md btn-danger mt-3">ADD</div>
                                                </li>
                                                <li class="hs__item"> 
                                                    <div class="hs__item__image__wrapper">
                                                        <img class="hs__item__image" src="../../assets/img/img1.jpg" alt=""/>
                                                    </div>
                                                    <div class="btn btn-md btn-danger mt-3">ADD</div>
                                                    </li>
                                                    <li class="hs__item"> 
                                                        <div class="hs__item__image__wrapper">
                                                            <img class="hs__item__image" src="../../assets/img/img1.jpg" alt=""/>
                                                        </div>
                                                        <div class="btn btn-md btn-danger mt-3">ADD</div>
                                                        </li>
                                                        <li class="hs__item"> 
                                                            <div class="hs__item__image__wrapper">
                                                                <img class="hs__item__image" src="../../assets/img/img1.jpg" alt=""/>
                                                            </div>
                                                            <div class="btn btn-md btn-danger mt-3">ADD</div>
                                                            </li>
                                                            <li class="hs__item"> 
                                                                <div class="hs__item__image__wrapper">
                                                                    <img class="hs__item__image" src="../../assets/img/img1.jpg" alt=""/>
                                                                </div>
                                                                <div class="btn btn-md btn-danger mt-3">ADD</div>
                                                                </li>
            
            
            
            </ul>
            <div class="hs__arrows bg-dark"> <a class="arrow arrow-next"></a></div>
        </div>
     </div>
  

<div class="row shopping_cart">
    <h3 class="text-center">Shopping cart <span class="items"> (04 items)</span></h3>
</div>

    <div class="cart-items row">

    <div class="col-lg-4 d-flex">
        <div class="checkbox">
            <input type="checkbox" class="check-box">
        </div>
        <div class="cart-image">
            <img src="../../assets/img/category.jpg" class="img-fluid" alt="">
        </div>
        <div class="content">
            <div class="pname">Bru Instat nCofee</div>
            <div class="weight">100g</div>
            <div class="price_offer">MRP  <p>12$</p> </div>
            <div class="price"> OUR PRICE:122</div>
            <div class="buttons">
            <a href="#">Save for later</a>|
            <a href="">Delete </a>  
            </div>
        </div>
    </div>  

    <div class="col-lg-4 align-self-center">
        <div class="quantity">
            <div class="wrap">
                <button type="button"  id="sub" class="sub butn">-</button>
                <input class="count" type="text" id="1" value="1" min="1" max="100" />
                <button type="button"  id="add" class="add butn">+</button>
            </div>
            
        </div>
    </div>
    

    <div class="col-lg-4">
        <div class="save-quote">
            <p>You save 5%.</p>
            <span class="total">678.00</span>
        </div>
        
    </div>

    
    </div>


    <div class="cart-items row">

        <div class="col-lg-4 d-flex">
            <div class="checkbox">
                <input type="checkbox" class="check-box">
            </div>
            <div class="cart-image">
                <img src="../../assets/img/category.jpg" class="img-fluid" alt="">
            </div>
            <div class="content">
                <div class="pname">Bru Instat nCofee</div>
                <div class="weight">100g</div>
                <div class="price_offer">MRP  <p>12$</p> </div>
                <div class="price"> OUR PRICE:122</div>
                <div class="buttons">
                <a href="#">Save for later</a>|
                <a href="">Delete </a>  
                </div>
            </div>
        </div>  
        
        <div class="col-lg-4 align-self-center">
            <div class="quantity">
                <div class="wrap">
                    <button type="button"  id="sub" class="sub butn">-</button>
                    <input class="count" type="text" id="1" value="1" min="1" max="100" />
                    <button type="button"  id="add" class="add butn">+</button>
                </div>
                
            </div>
        </div>
        
        
        <div class="col-lg-4">
            <div class="save-quote">
                <p>You save 5%.</p>
                <span class="total">678.00</span>
            </div>
            
        </div>
        
        
        </div>

        <div class="cart-items row">

            <div class="col-lg-4 d-flex">
                <div class="checkbox">
                    <input type="checkbox" class="check-box">
                </div>
                <div class="cart-image">
                    <img src="../../assets/img/category.jpg" class="img-fluid" alt="">
                </div>
                <div class="content">
                    <div class="pname">Bru Instat nCofee</div>
                    <div class="weight">100g</div>
                    <div class="price_offer">MRP  <p>12$</p> </div>
                    <div class="price"> OUR PRICE:122</div>
                    <div class="buttons">
                    <a href="#">Save for later</a>|
                    <a href="">Delete </a>  
                    </div>
                </div>
            </div>  
            
            <div class="col-lg-4 align-self-center">
                <div class="quantity">
                    <div class="wrap">
                        <button type="button"  id="sub" class="sub butn">-</button>
                        <input class="count" type="text" id="1" value="1" min="1" max="100" />
                        <button type="button"  id="add" class="add butn">+</button>
                    </div>
                    
                </div>
            </div>
            
            
            <div class="col-lg-4">
                <div class="save-quote">
                    <p>You save 5%.</p>
                    <span class="total">678.00</span>
                </div>
                
            </div>
            
            
            </div>

 <div class="subtottal row">
     TOTAL: 1000.
 </div>

  </div>


 
    </div>

    <div class="container-fluid bg-warning p-5">
        <div class="row">
            <div class="col-lg-8 d-flex align-self-center">
              <I class="fa fa-truck fa-2x"></I>  
              <h2>         INSTANT DELIVERY</h2>
            </div>
            <div class="col-lg-4">
                <div class="btn btn-lg btn-primary d-block m-2 p-3">
                    ORDER NOW
                </div>
                <div class="btn btn-lg d-block btn-success m-2 p-3">SCHEDULE</div>
            </div>
        </div>
    </div>


</section>
